# Maven
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Node
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.idea/
*.iml
.vscode/
*.class
*.log
*.jar
*.war
*.ear

# OS
.DS_Store
Thumbs.db

# Spring Boot
backend/application-local.properties

